/* utility */
* {
  box-sizing: border-box;
}

li{
  list-style: none;
}
.li-style{
  list-style: disc;
}





a{
  white-space: nowrap;
  text-decoration: none;
}

.error-input{
  border-color: red;
}

.primary-background{
  background-color: #3E001F;
  color: #FFF4F4;
}

.primary-background1{
  background-color: #4F200D;
}
.dark-font{
  color: #000;
}
.secondary-background{
  background-color: #4F200D;
  color: white;
}
.red-background{
  background-color: red;
}


.t-secondary-background{
  background-color: rgb(79, 32, 13, 0.8);
  color: white;
}

.dark-background{
  background-color: #000;
  color: #FFF4F4;
}
.light-background2{
  background-color: #D1D8C5;

}
.font-bold{
  font-weight: bold;
}
.light-background{
  background-color: honeydew;
}
.rotate-90deg{
  transition: transform 0.3s ease;
  transform: rotate(90deg);
}
.red-border{
  border: 1px solid red;
}
.text-primary1{
  color: #3E001F;
}
.text-secondary1{
  color: #4F200D;
}
.border-radius-20{
  border-radius: 20px;
}
.text-dark1{
  color: #000;
}
.text-white1{
  color: #FFF4F4;
}

.round-border{
  border: 1px solid #DFD7BF;
  border-radius: 50%;
}

.l-text{
  font-size: 60px;
}

.m-text{
  font-size: 30px;
}

.ml-text{
  font-size: 45px;
}

.sm-text{
  font-size: 20px;
}

.xl-text{
  font-size: 80px;
}
.current{
  border-bottom: 5px solid #FFF4F4;
  border-radius: 50px;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
}

.yellow-background{
  color: white;
  background-color: yellow;
}

.blue-background{
  color: #DFD7BF;
  background-color: blue;
}

.green-background{
  color: #DFD7BF;
  background-color: green;
}

.orange-background{
  color: #DFD7BF;
  background-color: orangered;
}

.boxing-shadow{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.icon a{
  font-size: 2rem;
  padding-left: 10px;
}

.hidden{
  display: none;
}

#heading{
  padding: 5rem 0;

}

#heading a{
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

#heading a:hover{
  color: #3E001F;
}
input:focus{
  outline: none;
  border: #4F200D 1px solid;
}

.button{

  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
  background: none;
  
}







/* nav */
.client-sidebar{
  width: 310px;
  height: 100%;
  background-color: #290013;
  position: fixed;
  top: 0;
  /* left: -250px;  */
  transition: 1s ease;
  color: #fff;
  transform: translateX(-370px);
  z-index: 10000000000;
}

.client-menu-bar{
  padding: 20px;
  display: none;
  

}
.client-sidebar-list ul{
  padding: 0;
  margin: 0;

}
.client-sidebar-list li:hover{
  background: #3E001F;
}
.client-sidebar-list-bg{
  background: #3E001F;
}
.client-menu-bar:first-child{
  font-size: 20px;
}
.client-menu-bar ~ img{
  border-radius: 50%;
  width: 60px;
  margin-top: 10px;

}
.client-menu-bar ~ h5{
  display: none;
}
.client-sidebar-dropdown{
  background: #3E001F;
}
#nav-frame{
 z-index: 1000;
 position: sticky;
 top: 0;
}

nav{
 height: 100px;
 display: flex;
 align-items: center;
}
.home-nav Link:hover{
  color: blue;
  
}
.home-nav Link{
  color: #fff;
}

.sub-menu-l {
  display: none;

}
.sub-menu-l li{
  border-bottom: 1px dotted #fff;
}
.sub-menu-l li:last-child{
  border: none;
}
.sub-menu-l ul{
  display: block;
}

nav .home-nav:hover  .sub-menu-l{
  display: block;
  position: fixed;
  background-color: #3E001F;
  margin-top: 0px;
  margin-left: -35px;
  /* z-index: 1000; */
}





/* Home page */

/* cover page */


 #cover-page .img9{
  background: rgba(15, 15, 15, 0.75);
  height: 100vh;
  position: relative;
  color: white;
  width: 100%;
}
.overflow-hidden{
  overflow: hidden;
}

#cover-page .img9::before{
  content: "";
  background: url(../img/Background1.jpg)no-repeat center center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.cover-page-text-container{
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-page-header{
  font-family: serif;
  color: transparent;
  animation: effect 2s linear infinite;
  font-weight: bold;
}

@keyframes effect {
  0% {
    background: linear-gradient(45deg, #ff7e5f, #feb47b); /* Peach to Light Coral */
    -webkit-background-clip: text;
    color: transparent; /* Required to see the background-clip effect */
  }

  50% {
    background: linear-gradient(45deg, #6a11cb, #2575fc); /* Royal Purple to Bright Blue */
    -webkit-background-clip: text;
    color: transparent; /* Required to see the background-clip effect */
  }

  100% {
    background: linear-gradient(45deg, #43cea2, #185a9d); /* Aquamarine to Deep Sea Blue */
    -webkit-background-clip: text;
    color: transparent; /* Required to see the background-clip effect */
  }
}

.cover-page-btn{
  background-color: #3E001F;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  transition: ease all 0.5s;
}

.cover-page-btn:hover{
  background-color: #290013;
  color: white;
}

#cover-page .carousel-item .cover-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}




#cover-page .icon{
  display: flex;

  

}


#cover-page  i{
  font-size: 3rem;
}
#principal-speech{
  margin-top: 150px;
  margin-bottom: 100px;
}

#principal-speech img{
  width: 100%;
  border-radius: 10px;
}

#principal-speech h2{
  font-size: 4rem;

}

#principal-speech .headings{
  padding-bottom: 2rem;
}

#about .about-icon{
  font-size: 110px;
}

#about .about-content{
  transition: all ease 1s;
}

#about .about-content:hover{
  transform: translateY(-20px);

}


#news a{
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.3);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: all 2s ease;
}
#news a:hover{
 background-color: #3E001F;
 color: #f4f4f4;
}

#extra-activity img{
  width: 100%;
}

#extra-activity .card-footer p{
  display: flex;
}

/* gallery  */

#gallery .gallery-head{
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: honeydew;
  margin: 10rem 0;
  padding-left: 5rem;
  text-align: center;
}

#gallery img{
  width: 100%;
  height: 100%;
  transition: all ease-in-out 1s;
}

#gallery img:hover{
  transform: scale(1.07);
}

#gallery a:hover{
  color:white;
  background: rgb(79, 32, 13, 0.4) ;
  transition: all ease-in-out 0.5s;
}

#gallery .link{
  display: flex;
  justify-content: center;
}

.img-con {
  position: relative;
}

/* parent verdict */
.parent-speech-content{
  transition: all ease 1s;
  border-radius: 10px;
}
.parent-speech-content:hover{
  transform: translateY(-20px);
  background-color: #3E001F;
  color: #f4f4f4;

}

.parent-speech-box1{
  padding-top: 60px;
  padding-bottom: 60px;
}

.parent-speech-box2{
  padding-top: 82px;
  padding-bottom: 82px;
}

.parent-speech-box3{
  padding-top: 36px;
  padding-bottom: 36px;
}

/*-------------------------about Page Vision ------------------------- */
.vision-boxes{
  transition: ease all 1s;
}
.vision-boxes:hover{
  transform: translateY(-50px);
  background-color: #3E001F;
  color: #fff;
}
/* ------------------------ about Page values ------------- */
.values-line{
  border-right: 1px solid #290013;
}

/* .overlay {
  position: absolute;
  width: 100%;
  height: 100%; */
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent); */
  /* top: 0;
  left: 0;
  transition: background 0.3s;
}

.overlay:hover {
  background: rgb(79, 32, 13, 0.5) ;
} */



/* Teacher application */
#heading p{
  font-size: 1.5rem;  
}

#heading i{
  padding-top: 0.5rem;
}
#form{
  position: relative;
}


.modal-container {
  position: fixed;
  top: 20%;
  left: 40%;
  transform: translate(-50%, -50%);
  /* background-color: #fff; */
  padding: 20px;
  z-index: 1;
  transition: all 1s ease;

}
.popup{
  width: 400px;
  background: #FFF4F4;
  border-radius: 6px;
  position: absolute;
  /* transform: translate(-50%, -50%) scale(0.1); */
  text-align: center;
  padding: 0, 30px, 30px;
  color: #333;
  display: block;
  transition: all 1s ease;

}

.popup img{
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
}






/* contact */
#message hr{
  color: #3E001F;
  width: 70%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 60px;
}


/* portal */
#portal .portal-background-img{
  background: rgba(15, 15, 15, 0.75);
  height: 100vh;
  position: relative;
  color: white;
  content: "";


}


#portal .portal-background-img::before{
  content: "";
  background: url(../img/Libary1.JPG)no-repeat center center/cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}




#portal .forms{
  background-color: #f4f4f4;
  color: #000;
  padding: 50px 0;
  border-radius: 10px ;
  margin-left: 10px;
}


#portal .portal-heading{
  display: none;
  text-align: center;
}



#portal input{
  display: block;
  border: none;
  margin-bottom: 20px;
  margin-right: 10px;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background: none;
  border: 1px solid #E8E2E2;
}

#portal input:focus{
  border: #3E001F solid 1px;
}



#portal button{
  background-color: #3E001F;
  border: none;
  color: #FFF4F4;
  transition: all ease-in 0.5s;
  font-size: 20px;
}
#portal button:hover{
  opacity: 0.5;
}
#portal form{
  margin-bottom: 100px;
}






/* Dashboard */
/* Style for the sidebar */


/* footer */

/* footer svg{
  margin-top: -600px;
  fill: #3E001F;
}

footer p{
  margin: 0;
  padding: 0;
}


footer .end-text{
  padding-top: 70px;
  padding-bottom: 10px;
} */

footer  a{
  color: #f4f4f4;
}
.current2{
  color: blue;
  text-decoration: underline;
}

footer li a:hover{
  color: blue;
  text-decoration: underline;
}

.footer-link{
  color: #FFF4F4;
}


@media (max-width: 1700px){
  @media (max-width: 1300px){
    #nav-frame .nav-frame-list-conatiner{
      display: none;
    }

    .client-menu-bar{
      /* padding: 20px; */
      display: block;
      
    
    }

    .client-menu-bar:first-child{
      font-size: 20px;
    }
    .client-menu-bar ~ img{
      margin-bottom: 20px;
      margin-left: 30px;
      margin-right: 10px;
    
    }
    .client-menu-bar ~ h5{
      display: block;
    }
  
  
  
  
    footer svg{
      margin-top: -600px;
      fill: #3E001F;
    }
  }
  
  
  @media(max-width: 1100px){
  
  
    /* dashboard  */
    .loader{
      top: 40%;
      transform: translate(-55%, -50%);
  
    }
    .error{
      top: 45%;
      transform: translate(-50%, -50%);
    }
  
  
    .sidebar .sidebar-head{
      display: flex;
      justify-content: space-between;
      
    }
  
    .sidebar .sidebar-head i{
      display: block;
    }
  
    .sidebar{
      transform: translateX(-250px);
    }
  
    .t{
      display: block;
    }
    .cat{
      background-color: yellow;
    }
  
  
  
    .dashboard-content{
      margin-left: 250px;
    }
  
  
  
    footer svg{
      margin-top: -500px;
      fill: #3E001F;
    }
  
    .hidden{
      display: none;
    }
  
    footer .end-text{
      padding-top: 10px;
    }
    
    .footer-text, 
    .footer-link{
      display: none;
    }
  }
  
  
  @media (max-width: 900px){
    .cover-page-text-container{
      height: 100%;
    }
    .student-info-modal{
      width: 500px;
    
    }
    #cover-page .img9{
      height: 90vh;
    }
  
  
    .modal-container{
      transform: translate(-410%, -50%);
  
    
    }
  
    nav .home-nav:hover  .sub-menu-l{
      margin-left: -5px;
      /* z-index: 1000; */
    }
  
    #principal-speech h2{
      font-size: 2rem;
      padding-bottom: 2rem;
    
    }
    #cover-page .carousel-item .cover-header{
      text-align: center;
    }
    #cover-page .carousel-item .cover-header p{
      font-size: 1rem;
    }
    
    #gallery .gallery-head{
      text-align: start;
    }
    
    .l-text{
      font-size: 40px;
    }
  
    .texts{
      display: inline-block;
    }
  
    /* #portal .portal-content{
      display: block;
    } */
  
    /* dashboard  */
    .table1{
      overflow-x: auto;
    }
  
    .table-responsive{
      width: 100%;
      overflow-x: auto;
    }
    th td{
      white-space: nowrap;
    }
  
    .table-responsive::-webkit-scrollbar{
      width: 0.5rem;
      height: 0.5rem;
    }
  
    .table-responsive::-webkit-scrollbar-thumb{
      border-radius: 0.5rem;
      background-color: #fff5;
      visibility: hidden;
    }
  
    .table-responsive:hover::-webkit-scrollbar-thumb{
      visibility: visible;
    }
  
    .payment-link{
      justify-content: start;
    }
  
    /* payment.html  */
    .payment-form {
      margin-top: 1rem;
      
    }
  
  
  
  
  
  
    
    
  
    footer svg{
      margin-top: -300px;
      fill: #3E001F;
    }
    
  }
  
  
  @media(max-width: 500px){
    .student-info-modal{
      width: 300px;
    
    }
    .button-sign-out{
      display: none;
    }
  
  
    
  
  
    footer svg{
      margin-top: -100px;
      fill: #3E001F;
    }
    
  }
  
  
  
  
  @media screen and (max-width: 350px) {
  
    .dashboard-items i{
      display: none;
    }
  
  
  }
  
}

















  




